body {
    background: rgba(249, 154, 87, 0.742);
    color: rgba(254, 3, 116, 0.991);
    padding: 10px;
    font-family: cursive;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgba(250, 109, 180, 0.879);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-style: outset;
    border-color:rgba(255, 230, 40, 0.941);
}
 h1  {
    display: flex;
    align-items: center;
    color: rgb(255, 50, 152);
    flex: 1;
    margin: 0;
    animation: 1s glow ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #38cbf8, 0 0 30px #0c86ff, 0 0 40px #ff9054, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #e53aff, 0 0 40px #ff0454, 0 0 50px #fcff4d, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration:none;
    color: #ffffffa9;
}

/* main container area beneath menu */
main {
    background: rgba(255, 72, 188, 0.517);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
    
}


  /* portfolio styles */
  .content h1 {
    color: rgb(255, 232, 104);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #ff954ed9;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #f536cf;
}

#portfolio a {
    text-decoration: none;
    color: #454545;