body {
  margin: 0px;
}

canvas {
  background-image:"https://png.pngtree.com/background/20210714/original/pngtree-abstract-pink-neon-light-gaming-background-design-picture-image_1243725.jpg";
}

img {
  display: none;
}
